.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.div1 {
  grid-area: 2 / 1 / 3 / 2;
  background-color: #ededed;
}
.div2 {
  grid-area: 2 / 2 / 3 / 3;
  background-color: #323232;
}
.div3 {
  grid-area: 1 / 1 / 2 / 3;
  background-color: #ffffff;
}
.div4 {
  grid-area: 1 / 3 / 3 / 5;
  background-color: #ededed;
}

.product {
  display: flex;
  justify-content: space-between;
}

.product__image_wrapper {
}

.product__text_wrapper {
}

.product__smallbanner_m .product__text_wrapper {
  display: block;
  margin: 76px 48px 0 0;
  max-width: 404px;
}
.product__smallbanner_m .product__text_wrapper h3 {
  line-height: 40px;
  font-size: 49px;
  margin-bottom: 16px;
}

.product__smallbanner_m .product__text_wrapper p {
  font-size: 14px;
  color: #909090;
  line-height: 24px;
}

.product__smallbanner_s .product__text_wrapper {
  display: block;
  margin: 48px 48px 0 0;
  max-width: 160px;
}
.product__smallbanner_s .product__text_wrapper h3 {
  line-height: 40px;
  font-size: 29px;
  margin-bottom: 8px;
  font-weight: 200;
}

.product__smallbanner_s .product__text_wrapper h3 b {
  font-weight: 400;
}
.product__smallbanner_s .product__text_wrapper p {
  font-size: 14px;
  color: #909090;
  line-height: 24px;
}

.header_white {
  color: #ffffff;
}
.product__smallbanner_l {
  min-width: 600px;
}

.product__smallbanner_l .product__text_wrapper {
  display: block;
  margin: 192px 0 0 56px;
  max-width: 360px;
}
.product__smallbanner_l .product__text_wrapper h3 {
  line-height: 56px;
  font-size: 64px;
  margin-bottom: 16px;
  font-weight: 200;
}

.product__smallbanner_l .product__text_wrapper h3 b {
  font-weight: 400;
}
.product__smallbanner_l .product__text_wrapper p {
  font-size: 14px;
  color: #909090;
  line-height: 24px;
}
